 {
	"jbuniversal.product.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "150",
				"height": "150",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		}
	}
}