 {
	"jbuniversal.analiz.default":  {
		"category":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"jbzoo_filter_render": "category",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "tree",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "",
				"element": "_itemcategory"
			}
		}
	}
}