 {
	"name": "\u0421\u0440\u043e\u0447\u043d\u044b\u0435 \u0430\u043d\u0430\u043b\u0438\u0437\u044b",
	"elements":  {
		"15a5cee9-3d37-4852-8189-dca9a646d9b3":  {
			"name": "\u0411\u0438\u043e\u0445\u0438\u043c\u0438\u044f",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "analiz"
			},
			"type": "relateditems"
		},
		"5d48297b-9378-4fa7-a4fa-f9704b8e2df5":  {
			"name": "\u041e\u0431\u0449\u0438\u0439 \u0430\u043d\u0430\u043b\u0438\u0437 \u043a\u0440\u043e\u0432\u0438",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "analiz"
			},
			"type": "relateditems"
		},
		"c087fe6a-1069-4672-9f9f-c752dce9bbcd":  {
			"name": "\u041e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u043b\u0430\u0431\u043e\u0440\u0430\u0442\u043e\u0440\u0438\u0439",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "otdel"
			},
			"type": "relateditems"
		},
		"18bb98ae-6a7a-4b18-8e1f-5d901a8cbca6":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}