 {
	"jbuniversal.znamenitost.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "932429c8-283c-488d-96d4-22a45f1d20f0"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "215",
				"height": "",
				"link_to_item": "0",
				"element": "c0c6c20e-d1c7-4179-92af-a22be67c8230"
			}
		},
		"job":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8338b202-ca95-4dd1-9188-d7dc69067393"
			}
		},
		"short-text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bd9b806c-14c8-4745-9419-124375268ca2"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "2a464b85-53de-4203-bd1c-2c1b323335ac"
			}
		}
	},
	"jbuniversal.znamenitost.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "932429c8-283c-488d-96d4-22a45f1d20f0"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "215",
				"height": "",
				"link_to_item": "1",
				"element": "c0c6c20e-d1c7-4179-92af-a22be67c8230"
			}
		},
		"job":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8338b202-ca95-4dd1-9188-d7dc69067393"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "2a464b85-53de-4203-bd1c-2c1b323335ac"
			}
		}
	},
	"jbuniversal.otdel.order":  {
		"billing":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c1b20e16-3869-40db-95b9-2c8fd0a8649f"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "d99453d3-f892-4a05-b303-1ffa8d4e26df"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "7ced0571-b1d7-4311-acd9-e4dda76a4cb6"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "2f4e8ec9-09b3-4c45-812d-08b9af568847"
			}
		},
		"shipping":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "1e680d82-aa09-40d1-9c83-6baf90ceee13"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "e51aca1f-39d6-4e2a-aebb-2cba5cef52fc"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "c2e23d15-41c5-4406-b7fa-0db873105c78"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "dc9abe7b-8bc8-4916-b2c5-d87770d08416"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "95ab68ae-ef29-4d10-a82d-c2bd78258227"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "5358536e-8edd-4fee-9809-a280f544217f"
			}
		},
		"other":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "1d555d7d-1f89-4363-a7e4-d470bd5641a2"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		}
	},
	"jbuniversal.otdel.orderemail":  {
		"items":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "table",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"billing":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c1b20e16-3869-40db-95b9-2c8fd0a8649f"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d99453d3-f892-4a05-b303-1ffa8d4e26df"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7ced0571-b1d7-4311-acd9-e4dda76a4cb6"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f4e8ec9-09b3-4c45-812d-08b9af568847"
			}
		},
		"shipping":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1e680d82-aa09-40d1-9c83-6baf90ceee13"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e51aca1f-39d6-4e2a-aebb-2cba5cef52fc"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c2e23d15-41c5-4406-b7fa-0db873105c78"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dc9abe7b-8bc8-4916-b2c5-d87770d08416"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"separated_values_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"element": "95ab68ae-ef29-4d10-a82d-c2bd78258227"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5358536e-8edd-4fee-9809-a280f544217f"
			}
		},
		"payment":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2c200017-7279-46db-a2fe-2ef87b7ac23c"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "b9ac38ab-1a81-458c-a5f5-d52146f3b543"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c5a1002e-4d40-4b52-9a3d-a823b8c56646"
			}
		},
		"other":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "1d555d7d-1f89-4363-a7e4-d470bd5641a2"
			}
		}
	},
	"jbuniversal.otdel.teaser":  {
		"name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y %H:%M",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "totalprice",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"payment-status":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "status",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "method",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "paymentlink",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		}
	},
	"jbuniversal.otdel.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"address":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2a45f69f-fe4e-4fb7-9c14-d23f1434f3ab"
			}
		},
		"grafik-mocha-kal-pn-pt":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "63ef939e-3112-4dff-94a3-57982163d34f"
			}
		},
		"grafik-mocha-kal-sb-vs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dcb6bed8-992b-4e40-9a98-2e2f3ff40510"
			}
		},
		"grafik-mazki-pn-pt":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b278bcfa-8167-429a-b3dd-f7fd96e35bfa"
			}
		},
		"grafik-mazki-sb-vs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0c069bdb-0ac3-4879-876d-ba560d588dc4"
			}
		},
		"vydacha-pn-pt":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dbdae6b8-9ef8-4ea1-b166-a0da64d8b080"
			}
		},
		"vydacha-sb-vs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b5f81493-7c9b-4f23-aabc-22aa407f5625"
			}
		},
		"photo-otdel":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "130",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "a24425ff-37dd-43ba-ba39-b48aadd363a8"
			}
		},
		"descr":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e9d3062-bd67-40c2-bb75-ca7f6100a4e8"
			}
		},
		"how-to-go":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "723",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "a19ecf20-acb1-40d2-804d-8039589a503e"
			}
		},
		"schema":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "723",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "75b057d6-6c3b-45ae-b5b4-d884df11ca4d"
			}
		},
		"ymaps":  {
			"0":  {
				"altlabel": "",
				"layout": "",
				"showlabel": "0",
				"showcontrol": "1",
				"map_type": "map",
				"width_default": "100%",
				"height_default": "335px",
				"zoom_default": "16",
				"element": "488bf866-5f0e-4891-abf0-51181e9c017d"
			}
		},
		"right_menu":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "f3c7bd1b-7d39-4b86-a458-421c0654089f"
			}
		}
	},
	"jbuniversal.otdel.subcategory_item":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"address":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2a45f69f-fe4e-4fb7-9c14-d23f1434f3ab"
			}
		},
		"srok_vipolneniya":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ab25815d-5c6d-4ca4-8c1a-de7832c59817"
			}
		},
		"grafik_pn_pt":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "22e514f7-9d6b-4ece-84a4-d199d5cf7a8d"
			}
		},
		"grafik_sb-vs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e2134a2e-a376-4efb-84de-81c2f102342d"
			}
		},
		"yandex":  {
			"0":  {
				"altlabel": "",
				"layout": "",
				"showlabel": "1",
				"showcontrol": "1",
				"map_type": "map",
				"width_default": "100%",
				"height_default": "300px",
				"zoom_default": "12",
				"element": "488bf866-5f0e-4891-abf0-51181e9c017d"
			}
		},
		"ginekolog":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fdacf0f7-9194-4fbb-be7b-88a50967e39b"
			}
		},
		"ekg":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e7c0fafd-570c-4941-8ba7-2bdfbdeab594"
			}
		},
		"uzi":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f4286dc7-59ef-4d4e-8c75-1929b0700c77"
			}
		}
	},
	"jbuniversal.analiz.subcategory_item":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"jbuniversal.analiz.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c0a63fd1-6651-4710-a6bc-f1e252c7854e"
			}
		},
		"srok":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0cfa4f03-0cd0-4c23-96db-18c61ec1109c"
			}
		},
		"proizvoditel":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f65d26df-3ce1-49a2-80e4-8e2fa535e236"
			}
		},
		"code":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5d8c05c2-3ef7-400d-bf7b-24b6c713a7e5"
			}
		},
		"biomaterialy":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "bf2ac3ce-f1aa-4124-bff6-5813e841db6a"
			}
		},
		"skidka":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "500b153d-951d-4bc2-a5bc-800836f87436"
			}
		},
		"vkladka1":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "71453018-f849-4d86-aa92-0b101f4241c9"
			}
		},
		"vkladka2":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b50e66f7-01cd-4998-aa9e-6ad2807f53bb"
			}
		},
		"vkladka3":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "10a10c14-81fe-4a43-ba11-3e246fe6735d"
			}
		},
		"vkladka4":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1e9bb41d-0bef-45dd-aed3-74141a761e46"
			}
		},
		"opisanie1":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2c2247-4e6e-4712-8372-041f2ce3d960"
			}
		},
		"opisanie2":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6a02d751-5866-41b1-ba9a-ec32f6403a30"
			}
		},
		"opisanie3":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ca8d9cf6-df2c-4323-85f0-21d7892b5dc2"
			}
		},
		"opisanie4":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "4731ef3f-fdd9-4a12-aab3-875d8d3b7dc2"
			}
		},
		"related2":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"count": "100",
				"relevant": "1",
				"search-method": "1",
				"check_app": "1",
				"check_type": "1",
				"check_category": "1",
				"check_fields":  {
					"0": "_itemcategory"
				},
				"conditions":  {
					"0":  {
						"key": "",
						"value": ""
					}
				},
				"layout": "related2",
				"link_to_item": "0",
				"columns": "1",
				"separated_by": "separator=[ ]",
				"element": "64c37046-3921-4c99-a4e8-65952b0f3d76"
			}
		}
	},
	"jbuniversal.analiz.related2":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c0a63fd1-6651-4710-a6bc-f1e252c7854e"
			}
		},
		"srok":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0cfa4f03-0cd0-4c23-96db-18c61ec1109c"
			}
		},
		"proizvoditel":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f65d26df-3ce1-49a2-80e4-8e2fa535e236"
			}
		},
		"code":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5d8c05c2-3ef7-400d-bf7b-24b6c713a7e5"
			}
		},
		"skidka":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "500b153d-951d-4bc2-a5bc-800836f87436"
			}
		}
	},
	"jbuniversal.analiz.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c0a63fd1-6651-4710-a6bc-f1e252c7854e"
			}
		},
		"srok":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0cfa4f03-0cd0-4c23-96db-18c61ec1109c"
			}
		},
		"proizvoditel":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f65d26df-3ce1-49a2-80e4-8e2fa535e236"
			}
		},
		"code":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5d8c05c2-3ef7-400d-bf7b-24b6c713a7e5"
			}
		},
		"skidka":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "500b153d-951d-4bc2-a5bc-800836f87436"
			}
		}
	}
}